{# Locale setting #}
{% set locale = "en" %}
{% import "../locales/" + locale + ".njk" as localeObject %}
{% set lang = localeObject.lang %}

{# Page setting #}
{% set page = {
  title: lang.route.main,
  description: lang.about.description,
  css: "overview",
  key: "overview"
} %}

{# Layout #}
{% extends "../components/layout/layout.njk" %}

{# Content #}
{% block content %}
{% include "../components/overview/index.njk" %}
{% endblock %}

{# Javascripts #}
{% block javascript %}
{% include "../components/overview/javascript.njk" %}
{% endblock %}