<div class="layout_footNav">
  <a class="footNav_linkBtn linkBtn-github" href="https://github.com/BlackToolBoxLaboratory" target="_blank">
    <i class="fab fa-github fa-fw"></i>
  </a>
  <a class="footNav_linkBtn linkBtn-npm" href="https://www.npmjs.com/org/blacktoolbox" target="_blank">
    <i class="fab fa-npm fa-fw"></i>
  </a>
  <a class="footNav_linkBtn linkBtn-linkedin" href="https://www.linkedin.com/company/black-tool-box-laboratory/"
    target="_blank">
    <i class="fab fa-linkedin fa-fw"></i>
  </a>
  <a class="footNav_linkBtn linkBtn-email" href="mailto:vannoel@cogman.org" target="_blank">
    <i class="far fa-envelope fa-fw"></i>
  </a>
</div>
<footer class="layout_footer font-xs padding-md">
  Copyright © Black Tool Box Laboratory. All rights reserved.
</footer>