<header class="layout_header padding-sm">
  <div class="header_logo margin-sm radius-md">
    <div class="logo_content font-3xl font-bold">
      BJ
    </div>
  </div>
  <div class="header_title margin-sm">
    <div class="title_main main-md font-bold font-lg">
      Black Tool Box Laboratory
    </div>
    <div class="title_main main-sm font-bold font-lg">
      BTB
    </div>
    <div class="title_sub sub-md">
      For JavaScript
    </div>
    <div class="title_sub sub-sm">
      For JS
    </div>
  </div>
  <a id="homepage_opener" class="header_item margin-md" href="https://blacktoolboxlaboratory.github.io/"
        target="_blank" rel="noreferrer">
    <i class="fas fa-building fa-fw header_button font-lg"></i>
  </a>
  <a id="homepage_opener" class="header_item margin-md" href="/javascript/{{locale}}/index.html">
    <i class="fas fa-home fa-fw header_button font-lg"></i>
  </a>
  <div id="language_opener" class="header_item item-lang margin-md">
    <i class="fas fa-globe fa-fw header_button font-lg" onclick="toggleLangMenu()"></i>
    <div id="language_menu" class="lang_container menu-hidden"></div>
  </div>

  <div id="menu_trigger" class="header_item margin-md">
    <i class="fas fa-bars fa-fw header_button font-lg" onclick="togglePageMenu()"></i>
  </div>
</header>