.grid-row {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -1rem;
  row-gap: 1rem;
}


.grid-row.row-nowrap {
  flex-wrap: nowrap;
}

.grid-row.direction-row {
  flex-direction: row;
}
.grid-row.direction-column {
  flex-direction: column;
}

.grid-row.justify-content-start {
  justify-content: flex-start;
}
.grid-row.justify-content-center {
  justify-content: center;
}
.grid-row.justify-content-end {
  justify-content: flex-end;
}
.grid-row.justify-content-between {
  justify-content: space-between;
}

.grid-row.align-items-start {
  align-items: flex-start;
}
.grid-row.align-items-center {
  align-items: center;
}
.grid-row.align-items-end {
  align-items: flex-end;
}
.grid-row.align-items-stretch {
  align-items: stretch;
}

.grid-col {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.grid-col.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.grid-col.col-1 {
  flex: 0 0 calc(100% * (1/12));
  max-width: calc(100% * (1/12));
}

.grid-col.col-2 {
  flex: 0 0 calc(100% * (2/12));
  max-width: calc(100% * (2/12));
}

.grid-col.col-3 {
  flex: 0 0 calc(100% * (3/12));
  max-width: calc(100% * (3/12));
}

.grid-col.col-4 {
  flex: 0 0 calc(100% * (4/12));
  max-width: calc(100% * (4/12));
}

.grid-col.col-5 {
  flex: 0 0 calc(100% * (5/12));
  max-width: calc(100% * (5/12));
}

.grid-col.col-6 {
  flex: 0 0 calc(100% * (6/12));
  max-width: calc(100% * (6/12));
}

.grid-col.col-7 {
  flex: 0 0 calc(100% * (7/12));
  max-width: calc(100% * (7/12));
}

.grid-col.col-8 {
  flex: 0 0 calc(100% * (8/12));
  max-width: calc(100% * (8/12));
}

.grid-col.col-9 {
  flex: 0 0 calc(100% * (9/12));
  max-width: calc(100% * (9/12));
}

.grid-col.col-10 {
  flex: 0 0 calc(100% * (10/12));
  max-width: calc(100% * (10/12));
}

.grid-col.col-11 {
  flex: 0 0 calc(100% * (11/12));
  max-width: calc(100% * (11/12));
}

.grid-col.col-12 {
  flex: 0 0 calc(100% * (12/12));
  max-width: calc(100% * (12/12));
}

@media only screen and (min-width : 576px) {
  .grid-col.col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .grid-col.col-sm-1 {
    flex: 0 0 calc(100% * (1/12));
    max-width: calc(100% * (1/12));
  }
  
  .grid-col.col-sm-2 {
    flex: 0 0 calc(100% * (2/12));
    max-width: calc(100% * (2/12));
  }
  
  .grid-col.col-sm-3 {
    flex: 0 0 calc(100% * (3/12));
    max-width: calc(100% * (3/12));
  }
  
  .grid-col.col-sm-4 {
    flex: 0 0 calc(100% * (4/12));
    max-width: calc(100% * (4/12));
  }
  
  .grid-col.col-sm-5 {
    flex: 0 0 calc(100% * (5/12));
    max-width: calc(100% * (5/12));
  }
  
  .grid-col.col-sm-6 {
    flex: 0 0 calc(100% * (6/12));
    max-width: calc(100% * (6/12));
  }
  
  .grid-col.col-sm-7 {
    flex: 0 0 calc(100% * (7/12));
    max-width: calc(100% * (7/12));
  }
  
  .grid-col.col-sm-8 {
    flex: 0 0 calc(100% * (8/12));
    max-width: calc(100% * (8/12));
  }
  
  .grid-col.col-sm-9 {
    flex: 0 0 calc(100% * (9/12));
    max-width: calc(100% * (9/12));
  }
  
  .grid-col.col-sm-10 {
    flex: 0 0 calc(100% * (10/12));
    max-width: calc(100% * (10/12));
  }
  
  .grid-col.col-sm-11 {
    flex: 0 0 calc(100% * (11/12));
    max-width: calc(100% * (11/12));
  }
  
  .grid-col.col-sm-12 {
    flex: 0 0 calc(100% * (12/12));
    max-width: calc(100% * (12/12));
  }
}

@media only screen and (min-width : 768px) {
  .grid-col.col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .grid-col.col-md-1 {
    flex: 0 0 calc(100% * (1/12));
    max-width: calc(100% * (1/12));
  }
  
  .grid-col.col-md-2 {
    flex: 0 0 calc(100% * (2/12));
    max-width: calc(100% * (2/12));
  }
  
  .grid-col.col-md-3 {
    flex: 0 0 calc(100% * (3/12));
    max-width: calc(100% * (3/12));
  }
  
  .grid-col.col-md-4 {
    flex: 0 0 calc(100% * (4/12));
    max-width: calc(100% * (4/12));
  }
  
  .grid-col.col-md-5 {
    flex: 0 0 calc(100% * (5/12));
    max-width: calc(100% * (5/12));
  }
  
  .grid-col.col-md-6 {
    flex: 0 0 calc(100% * (6/12));
    max-width: calc(100% * (6/12));
  }
  
  .grid-col.col-md-7 {
    flex: 0 0 calc(100% * (7/12));
    max-width: calc(100% * (7/12));
  }
  
  .grid-col.col-md-8 {
    flex: 0 0 calc(100% * (8/12));
    max-width: calc(100% * (8/12));
  }
  
  .grid-col.col-md-9 {
    flex: 0 0 calc(100% * (9/12));
    max-width: calc(100% * (9/12));
  }
  
  .grid-col.col-md-10 {
    flex: 0 0 calc(100% * (10/12));
    max-width: calc(100% * (10/12));
  }
  
  .grid-col.col-md-11 {
    flex: 0 0 calc(100% * (11/12));
    max-width: calc(100% * (11/12));
  }
  
  .grid-col.col-md-12 {
    flex: 0 0 calc(100% * (12/12));
    max-width: calc(100% * (12/12));
  }
}

@media only screen and (min-width : 992px) {
  .grid-col.col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .grid-col.col-lg-1 {
    flex: 0 0 calc(100% * (1/12));
    max-width: calc(100% * (1/12));
  }
  
  .grid-col.col-lg-2 {
    flex: 0 0 calc(100% * (2/12));
    max-width: calc(100% * (2/12));
  }
  
  .grid-col.col-lg-3 {
    flex: 0 0 calc(100% * (3/12));
    max-width: calc(100% * (3/12));
  }
  
  .grid-col.col-lg-4 {
    flex: 0 0 calc(100% * (4/12));
    max-width: calc(100% * (4/12));
  }
  
  .grid-col.col-lg-5 {
    flex: 0 0 calc(100% * (5/12));
    max-width: calc(100% * (5/12));
  }
  
  .grid-col.col-lg-6 {
    flex: 0 0 calc(100% * (6/12));
    max-width: calc(100% * (6/12));
  }
  
  .grid-col.col-lg-7 {
    flex: 0 0 calc(100% * (7/12));
    max-width: calc(100% * (7/12));
  }
  
  .grid-col.col-lg-8 {
    flex: 0 0 calc(100% * (8/12));
    max-width: calc(100% * (8/12));
  }
  
  .grid-col.col-lg-9 {
    flex: 0 0 calc(100% * (9/12));
    max-width: calc(100% * (9/12));
  }
  
  .grid-col.col-lg-10 {
    flex: 0 0 calc(100% * (10/12));
    max-width: calc(100% * (10/12));
  }
  
  .grid-col.col-lg-11 {
    flex: 0 0 calc(100% * (11/12));
    max-width: calc(100% * (11/12));
  }
  
  .grid-col.col-lg-12 {
    flex: 0 0 calc(100% * (12/12));
    max-width: calc(100% * (12/12));
  }
}

@media only screen and (min-width : 1200px) {
  .grid-col.col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .grid-col.col-xl-1 {
    flex: 0 0 calc(100% * (1/12));
    max-width: calc(100% * (1/12));
  }
  
  .grid-col.col-xl-2 {
    flex: 0 0 calc(100% * (2/12));
    max-width: calc(100% * (2/12));
  }
  
  .grid-col.col-xl-3 {
    flex: 0 0 calc(100% * (3/12));
    max-width: calc(100% * (3/12));
  }
  
  .grid-col.col-xl-4 {
    flex: 0 0 calc(100% * (4/12));
    max-width: calc(100% * (4/12));
  }
  
  .grid-col.col-xl-5 {
    flex: 0 0 calc(100% * (5/12));
    max-width: calc(100% * (5/12));
  }
  
  .grid-col.col-xl-6 {
    flex: 0 0 calc(100% * (6/12));
    max-width: calc(100% * (6/12));
  }
  
  .grid-col.col-xl-7 {
    flex: 0 0 calc(100% * (7/12));
    max-width: calc(100% * (7/12));
  }
  
  .grid-col.col-xl-8 {
    flex: 0 0 calc(100% * (8/12));
    max-width: calc(100% * (8/12));
  }
  
  .grid-col.col-xl-9 {
    flex: 0 0 calc(100% * (9/12));
    max-width: calc(100% * (9/12));
  }
  
  .grid-col.col-xl-10 {
    flex: 0 0 calc(100% * (10/12));
    max-width: calc(100% * (10/12));
  }
  
  .grid-col.col-xl-11 {
    flex: 0 0 calc(100% * (11/12));
    max-width: calc(100% * (11/12));
  }
  
  .grid-col.col-xl-12 {
    flex: 0 0 calc(100% * (12/12));
    max-width: calc(100% * (12/12));
  }
}
