#about .title_main.main-sm {
  display: none;
}

#about .title_sub {
  color: var(--color_gray);
}

#about .packageVersion,
#about .packageDate {
  color: var(--color_gray-l);
}

#about .page_section.section-package .package_title {
  display: inline-block;
}


/* Lower small size */
@media only screen and (max-width : 576px) {
  #about .title_main.main-md {
    display: none;
  }
  #about .title_main.main-sm {
    display: initial;
  }
}