#main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

#main .main_header {
  flex-shrink: 0;
  background-color: var(--color_black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}

#main .main_header > .header_logo {
  background-color: var(--color_primary);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main .header_logo > .logo_content {
  color: var(--color_black);
}
#main .main_header > .header_title {
  flex-grow: 1;
}
#main .header_title > .title_main {
  color: var(--color_primary);
}
#main .header_title > .title_sub {
  color: var(--color_gray-ll);
}
#main .main_header > .header_menu {
  color: var(--color_gray-ll);
  cursor: pointer;
}
#main .main_header > .header_menu:hover {
  color: var(--color_gray-lll);
}

#main .main_header > .header_menu {
  flex-shrink: 0;
}

#main .main_body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
#main .main_body .body_iframe {
  flex-grow: 1;
  border: none;
}

/* aside */
#main .main_aside {
  position: fixed;
  width: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  /* background-color: var(--color_gray-dd); */
  background-color: var(--color_mask-d);
  transition: right 0.5s ease-in-out 0s;
}
#main .main_aside.aside-hidden {
  right: -100%;
}
#main .main_aside > .aside_menu {
  margin-top: 5rem;
}
#main .main_aside .menu_layer {
  list-style: none;
  color: var(--color_gray-ll);
  margin: 0;
  padding: 0;
}
#main .container_route {
  display: flex;
  flex-direction: row;
  cursor: pointer;
} 
#main .container_route:hover {
  color: var(--color_primary);
} 
#main .container_route .route_title {
  flex-grow: 1;
}
#main .container_route .route_collapsed {
  flex-shrink: 0;
}
#main .container_route .route_collapsed.collapsed-on {
  flex-shrink: 0;
  transform: rotate(90deg);
}