#main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#main .main_header {
  flex-shrink: 0;
  background-color: var(--color_black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}

#main .main_header > .header_logo {
  background-color: var(--color_primary);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main .header_logo > .logo_content {
  color: var(--color_black);
}
#main .main_header > .header_title {
  flex-grow: 1;
}
#main .header_title > .title_main {
  color: var(--color_primary);
}
#main .title_main.main-sm {
  display: none;
}
#main .header_title > .title_sub {
  color: var(--color_gray-ll);
}

#main .main_header > .header_item {
  flex-shrink: 0;
}
#main .main_header .header_button {
  color: var(--color_gray-ll);
  cursor: pointer;
}
#main .main_header .header_button:hover {
  color: var(--color_gray-lll);
}
#main .header_item.item-lang {
  position: relative;
}
#main .lang_container {
  position: absolute;
  right: 0;
  top: calc(100% + 0.25rem);
}
#main .lang_container.menu-hidden {
  display: none;
}
#main .lang_container .lang_menu {
  background-color: var(--color_white);
}
#main .lang_container .lang_menu .menu_option {
  color: var(--color_gray-l);
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
}
#main .lang_container .lang_menu .menu_option.option-active,
#main .lang_container .lang_menu .menu_option:hover {
  color: var(--color_gray-ddd);
}

#main .main_iframe {
  flex-grow: 1;
  border: none;
  transition: margin-right 0.5s ease-in-out 0s;
  background-color: var(--color_gray-lll);
}
#main .main_aside {
  position: absolute;
  flex-shrink: 0;
  width: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color_mask-d);
  transition: right 0.5s ease-in-out 0s;
}
#main .main_aside .aside_menu {
  margin-top: 4.5rem;
}
#main .main_aside.menu-hidden {
  right: -100%;
}
#main .main_aside .menu_layer {
  list-style: none;
  color: var(--color_gray-lll);
  margin: 0;
  padding: 0;
}
#main .container_route {
  display: flex;
  flex-direction: row;
  cursor: pointer;
} 
#main .container_route.route-active,
#main .container_route:hover {
  color: var(--color_primary);
} 
#main .container_route .route_title {
  flex-grow: 1;
}
#main .container_route .route_collapsed {
  flex-shrink: 0;
}
#main .container_route .route_collapsed.collapsed-on {
  flex-shrink: 0;
  transform: rotate(90deg);
}

#main .main_footNav {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color_gray-l);
  flex-shrink: 0;
}
#main .main_footNav .footNav_linkBtn {
  font-size:1.25rem;
  text-decoration: none;
  color: var(--color_gray-d);
}
#main .footNav_linkBtn + .footNav_linkBtn {
  margin-left: 1rem;
}
#main .footNav_linkBtn.linkBtn-paypal:hover {
  color: var(--color_paypal);
}
#main .footNav_linkBtn.linkBtn-github:hover {
  color: var(--color_github);
}
#main .footNav_linkBtn.linkBtn-npm:hover {
  color: var(--color_npm);
}
#main .footNav_linkBtn.linkBtn-linkedin:hover {
  color: var(--color_linkedin);
}
#main .footNav_linkBtn.linkBtn-wordpress:hover {
  color: var(--color_wordpress);
}
#main .footNav_linkBtn.linkBtn-email:hover {
  color: var(--color_email);
}

#main .main_footer {
  flex-shrink: 0;
  color: var(--color_gray-lll);
  background-color: var(--color_gray-ddd);
  text-align: center;
}

/* Lower small size */
@media only screen and (max-width : 576px) {
  #main .title_main.main-md {
    display: none;
  }
  #main .title_main.main-sm {
    display: initial;
  }
}

@media only screen and (min-width : 576px) {
  #main .main_aside {
    background-color: var(--color_mask-l);
  }
}