  <div class="page_divider">
    <div class="divider_line"></div>
    <i class="fas fa-tools fa-fw divider_icon icon-original"></i>
    <i class="fas fa-tools fa-fw divider_icon icon-original"></i>
    <i class="fas fa-tools fa-fw divider_icon icon-original"></i>
    <i class="fas fa-tools fa-fw divider_icon icon-original"></i>
    <i class="fas fa-tools fa-fw divider_icon icon-original"></i>
    <i class="fas fa-tools fa-fw divider_icon icon-original"></i>
    <i class="fas fa-tools fa-fw divider_icon icon-original"></i>
    <div class="divider_line"></div>
  </div>