<div class="page_container">
  <div class="page_head">
    <h1 class="page_title">{{lang.route.overview}}</h1>
    <a class="head_linkBtn linkBtn-github" href="https://github.com/BlackToolBoxLaboratory?q=prototype"
      target="_blank">
      <i class="fab fa-github fa-fw"></i>
    </a>
    <a class="head_linkBtn linkBtn-npm" href="https://www.npmjs.com/search?q=%40blacktoolbox%2Fprototype"
      target="_blank">
      <i class="fab fa-npm fa-fw"></i>
    </a>
  </div>
  <section class="page_section">
    <div class="section_title">
      JAVASCRIPT
    </div>
    <div id="jsList" class="grid-row"></div>
  </section>
  <section class="page_section">
    <div class="section_title">
      REACT
    </div>
    <div id="reactList" class="grid-row"></div>
  </section>
  <section class="page_section">
    <div class="section_title">
      VUE
    </div>
    <div id="vueList" class="grid-row"></div>
  </section>
</div>
