.font-5xl {
  font-size: 3rem;
}
.font-4xl {
  font-size: 2.5rem;
}
.font-3xl {
  font-size: 2rem;
} 
.font-2xl {
  font-size: 1.75rem;
}
.font-xl {
  font-size: 1.5rem;
}
.font-lg {
  font-size: 1.25rem;
}
.font-md {
  font-size: 1rem;
}
.font-sm {
  font-size: 0.875rem;
}
.font-xs {
  font-size: 0.75rem;
}

.font-bold {
  font-weight: 900;
}
.font-normal {
  font-weight: 500;
}
.font-light {
  font-weight: 100;
}