.radius-sm {
  border-radius: 0.25rem;
}
.radius-md {
  border-radius: 0.5rem;
}
.radius-lg {
  border-radius: 1rem;
}

.radius-top-sm {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.radius-top-md {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.radius-top-lg {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.radius-right-sm {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.radius-right-md {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.radius-right-lg {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.radius-bottom-sm {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.radius-bottom-md {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.radius-bottom-lg {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.radius-left-sm {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.radius-left-md {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.radius-left-lg {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
